<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>About Us Section</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/contact.css'>
    <script src='main.js'></script>

     <!--to add font style -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
     <!--to add css style -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">

     <!--to add bootstrap icons-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
     
</head>

<body>
    <div class="container">
        <div class="title">CONTACT US</div>
        <form action="/processFeedback" method="post">  
	    <div class="heading">Send Us Your Feedback/Queries</div>
        <div class="social">
                  <a href="https://www.facebook.com/Richards-wine-cakes-rum-cakes-190578039140727/" target="_blank" ><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/richards_wine_and_rum_cakes/" target="_blank"><s class="bi bi-instagram"></s></a>
                  <a href="#" target="_blank"><d class="bi bi-whatsapp"></d></a>
                  <div class="social-text">you can contact us on our various social media pages</div>
                </div>

                    <div class="user-inputs">
												<div class="input-box">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name">
												</div>
											</div>
											
												<div class="input-box">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email">
												
											</div>
										
												<div class="input-box">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
												</div>
											
								
												<div class="input-box">
                                                    	
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>

                                                    
												</div>
                                                <div class="button"> 
                                                    <input type="submit" value="Send Message">
                                                 </div>
											
						
					

                                               
		</form>
    </div>
</body>