<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registerStyle.css">	
    <title>Login</title>
</head>
<body>
    <div class="container">
       <div class="title">
           <h1>RICHARDS WINE AND RUM CAKE</h1>
        </div>
			<form action="#"> 
			<div class="user-details">
				<div class="input-box"> 
				<span class="details">Email Id</span>
				<input type="email" placeholder="abc@qmail.com" name="email" required>
				</div>
				<div class="input-box"> 
				<span class="details">Password</span>
				<input type="password" placeholder="********" name="password" required>
				</div>
				<div class="button"> 
				<input type="submit" value="LOGIN">
				</div>
		  
			</div>
    
	</div>  	  
  
  
 </body>
</html>