<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    </head>
<body>

    <div class="title">
		<h1>RICHARDS WINE AND RUM CAKE</h1>
	</div>
	<form action="/verifyOTP" method="post">

    <div class="input-box">
          <h3>OTP SENT ON YOUR REGISTERED EMAIL ID</h3> 
          <span class="details">Enter OTP here</span>
          <input type="text" class="input" placeholder="enter otp" name="otp" required>
    </div>

    <div class="button"> 
             <input type="submit" value="VERIFY">
    </div>

    
</body>